<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.bcrealmapp"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <permission
            android:name="com.im.bcrealmapp.permission.RECEIVE_MSG"
            android:protectionLevel="signature"/>

    <uses-permission android:name="com.im.bcrealmapp.permission.RECEIVE_MSG"/>
    <!-- 小米推送 -->
    <permission
            android:name="com.im.bcrealmapp.permission.MIPUSH_RECEIVE"
            android:protectionLevel="signature"/>
    <uses-permission android:name="com.im.bcrealmapp.permission.MIPUSH_RECEIVE"/>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-sdk
            android:minSdkVersion="16"
            android:targetSdkVersion="22"/>
    <application
            android:name=".MainApplication"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:allowBackup="false"
            android:theme="@style/AppTheme">

        <meta-data
                android:name="com.netease.nim.appKey"
                android:value="1db9ef0d8ed602fe71cfb042475aba96"/>
        <provider
                android:name="com.netease.nimlib.ipc.NIMContentProvider"
                android:authorities="com.netease.nim.bcrealmapp.ipc.provider"
                android:exported="false"
                android:process=":core"/>
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
                android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".wxapi.WXEntryActivity"
                android:label="@string/app_name"
                android:exported="true"
        />
        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity"/>
        <meta-data android:name="PUSH_APPID" android:value="${GETUI_APP_ID}" />
        <meta-data android:name="PUSH_APPKEY" android:value="${GETUI_APP_KEY}" />
        <meta-data android:name="PUSH_APPSECRET" android:value="${GETUI_APP_SECRET}" />
    </application>

</manifest>
